@import 'tailwindcss';

@config '../tailwind.config.js';

@theme {
  --shadow-center: 0 0 12px 0 rgb(0 0 0 / 0.1);
  --shadow-white-center: 0 0 12px 0 rgb(255 255 255 / .5);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
    --toastify-icon-color-warning: #FFFFFF;
    --toastify-icon-color-error: #FFFFFF;
    --toastify-icon-color-info: #FFFFFF;
    --toastify-icon-color-success: #FFFFFF;            
    --color-ice-50: 235, 254, 255;
    --color-ice-100: 206, 251, 255;
    --color-ice-200: 162, 246, 255;
    --color-ice-300: 99, 236, 253;
    --color-ice-400: 28, 217, 244;
    --color-ice-500: 0, 190, 220;
    --color-ice-600: 3, 150, 183;
    --color-ice-700: 10, 119, 148;
    --color-ice-800: 18, 96, 120;
    --color-ice-900: 20, 80, 101;
    --color-ice-950: 6, 53, 70;
    --color-green-50: 235, 254, 246;
    --color-green-100: 206, 253, 231;
    --color-green-200: 162, 248, 211;
    --color-green-300: 74, 174, 177;
    --color-green-400: 45, 221, 162;
    --color-green-500: 5, 196, 139;
    --color-green-600: 0, 160, 114;
    --color-green-700: 0, 128, 94;
    --color-green-800: 0, 65, 76;
    --color-green-900: 1, 53, 64;
    --color-green-950: 0, 47, 37;
    --color-cyan-50: 239, 255, 253;
    --color-cyan-100: 199, 255, 251;
    --color-cyan-200: 159, 255, 249;
    --color-cyan-300: 80, 248, 243;
    --color-cyan-400: 29, 227, 228;
    --color-cyan-500: 4, 196, 200;
    --color-cyan-600: 0, 154, 161;
    --color-cyan-700: 5, 122, 128;
    --color-cyan-800: 10, 95, 101;
    --color-cyan-900: 13, 80, 84;
    --color-cyan-950: 0, 45, 51;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff99 #ffffff11;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff99;
  border-radius: 5px;
}

.Toastify__toast-container {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .Toastify__toast-container {
    width: 80%;
  }
}

@media only screen and (min-width: 640px) {
  .Toastify__toast-container {
    max-width: 520px;
  }
}

.Toastify__toast--info {
  @apply bg-blue-500/60;
  @apply text-white;
  @apply border;
  @apply border-white/25;
  @apply backdrop-blur-xs;
  @apply shadow-xs;
}

.Toastify__toast--success {
  @apply bg-green-300/50;
  @apply text-white;
  @apply border;
  @apply border-white/25;
  @apply backdrop-blur-xs;
  @apply shadow-xs;
}

.Toastify__toast--warning {
  @apply bg-yellow-500/60;
  @apply text-white;
  @apply border;
  @apply border-white/25;
  @apply backdrop-blur-xs;
  @apply shadow-xs;
}

.Toastify__close-button {
  @apply text-white;
  opacity: 0.8;
}

.Toastify__toast--error {
  @apply bg-red-500/60;
  @apply text-white;
  @apply border;
  @apply border-white/25;
  @apply backdrop-blur-xs;
  @apply shadow-xs;
}

#paypalConnectButton {
  width: 100%;
}

#paypalConnectButton > a {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: unset;
}